@import "tailwindcss";

button {
  cursor: pointer;
}

.excaliFont {
  font-family: "Excalifont", "Xiaolai", sans-serif, "Segoe UI Emoji";
}

.excalidraw {
  .App-toolbar,
  .layer-ui__wrapper__top-right [title="Library"] {
    display: none;
  }
}
